p {
    font-size: 0.8rem;
}

.nav {
    height: 5vh;
    /* position : fixed;
    background: transparent; */
}

#hero-container {
    margin: 0 auto;
    width: 100%;
}

#hero-images {
    height: 90vh;
}

@media screen and (max-width:480px) {
    #hero-container {
        margin: auto auto;
        height: 90vh;
    }

    #hero-images {
        width: 100vw;
        height: auto;
        padding: 0 auto;
    }
}

#bio-container {
    height: 100vh;
}

#bio {
    width: 50%;
}

@media screen and (max-width:480px) {
    #bio {
        width: 100%;
    }
}

