p {
    font-size: 0.8rem;
}

.nav {
    height: 5vh;
    width: 100vw;
    /* position : fixed;
    background: transparent; */
}

@media screen and (max-width:480px) {
    .nav {
       width: auto;
       padding-top: 1rem;
    }

    .nav>div>p {
        text-align: center !important;
    }
}

#hero-container {
    margin: 0 auto;
    width: 100%;
}

#hero-images {
    height: 90vh;
    margin: auto auto;
}

@media screen and (max-width:480px) {
    #hero-container {
        /* margin: auto auto; */
        height: 90vh;
        display: flex;
    align-items: center;
    flex-wrap: wrap;
    }

    #hero-images {
        width: 100vw;
        height: auto;
        padding: 0 1rem;
    }
}

#bio-container {
    height: 100vh;
}

#bio {
    width: 50%;
}

@media screen and (max-width:480px) {
    #bio {
        width: 100%;
    }
}

